.about{

    padding:120px 0;

}

.title{

    text-align:center;

    margin-bottom:60px;

}

.title p{

    color:var(--primary);

    letter-spacing:2px;

    font-weight:700;

    text-transform:uppercase;

    margin-bottom:8px;

}

.title h2{

    font-size:44px;

    color:var(--text);

}

.grid{

    display:grid;

    grid-template-columns:2fr 1fr 1fr;

    gap:22px;

}

.card{

    background:white;

    border-radius:22px;

    padding:26px;

    border:1px solid var(--border);

    box-shadow:0 10px 30px rgba(124,58,237,.08);

    transition:.35s;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 40px rgba(124,58,237,.16);

}

.large{

    grid-row:span 4;

    padding:45px;

}

.large h3{

    font-size:34px;

    color:var(--primary);

    margin-bottom:24px;

}

.large p{

    font-size:17px;

    color:var(--text-light);

    line-height:1.9;

    margin-bottom:18px;

}

.icon{

    font-size:34px;

    color:var(--primary);

    margin-bottom:18px;

}

.card h4{

    font-size:28px;

    margin-bottom:10px;

    color:var(--text);

}

.card span{

    color:var(--text-light);

    line-height:1.7;

}

@media(max-width:1000px){

.grid{

grid-template-columns:1fr;

}

.large{

grid-row:auto;

}

}